.img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 10px #000;
}

.img-medium {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 10px #000;
}

.img-small {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 10px #000;
}

.thumbnail {
  margin: 10px 30px 30px 10px;
  width: 200px;
  height: auto;
  /*float: left;*/
  box-shadow: 0 0 6px #000;
}

.project-thumbnail {
  margin: 0 30px 0 0;
  width: auto;
  height: 160px;
  float: left;
  box-shadow: 0 0 6px #000;
}

.gallery-img {
  max-width: 200px;
  width: auto;
  max-height: 200px;
  height: auto;
}

.gallery-preview {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
}

.sponsor {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  display: inline-block;
  border: 1px dashed #111;
  border-radius: 5px;
  margin-left: 40px;
}

#logo {
  margin-top: 12px;
  width: 70px;
  height: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#logo.scrolled {
  margin-top: 5px;
  width: 50px;
  height: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#social-media {
  position: absolute;
  left: 20%;
  font-size: 48px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#social-media > li {
  display: inline;
}

#social-media.scrolled {
  position: absolute;
  left: 20%;
  font-size: 32px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#link-facebook {
  color: #3b5998;
  padding-right: 10px;
}

#link-facebook:hover {
  color: #283c66;
}

#link-google-plus {
  color: #d34836;
  padding-right: 10px;
}

#link-google-plus:hover {
  color: #a13729;
}

#link-youtube {
  color: #b31217;
  padding-right: 10px;
}

#link-youtube:hover {
  color: #800d10;
}

#impressum {
  padding-right: 30px;
}

#kontakt {
  
}

#kontakt-karte {
  height: 400px;
}

#bewerbungsvideo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 853px;
  height: auto;
  display: block;
  box-shadow: 0 4px 10px #000;
}

#bewerbungsvideo span {
  position: absolute;
  z-index: -1;
}

table {
  margin-bottom: 35px;
}